In [1]:
import requests
import json
import pandas as pd
import time

In [2]:
cities_df =  pd.read_csv('collected_data/cities_list.csv')

In [3]:
cities_df.head()

             city
0    Jelenia Góra
1  Biała Podlaska
2       Białystok
3   Bielsko-Biała
4       Bydgoszcz

In [17]:
residents_number_df = pd.DataFrame(columns = ['city', 'date', 'residents_1000'])
residents_density_df = pd.DataFrame(columns = ['city', 'date', 'residents_per_1km2'])

In [5]:
header = {
    'X-ClientId': 'c7b4da28-cadf-4dd6-f3d1-08dc7b3a73a3'
}

In [6]:
gus_url = "https://bdl.stat.gov.pl/api/v1"

In [7]:
num_residents_url = f"{gus_url}/data/by-variable/1645341"

In [8]:
residents_per_km2_url = f"{gus_url}/data/by-variable/60559"

In [18]:
def get_data(city_name, city_df, city_url):
    url_city_find=f"{gus_url}/Units/localities/search"
    parameters = {'name': city_name}
    city_response = requests.get(url_city_find, params=parameters, headers = header)
    if city_response.status_code == 200:
        city_data = city_response.json()['results']
        if len(city_data) > 0:
            for elem in city_data:
                if city_name == elem['name']:
                    parentId = elem['parentId']
                    city_parameters = {'unit-parent-id':parentId}
                    num_of_residents_response = requests.get(city_url, params=city_parameters, headers = header)
                    if num_of_residents_response.status_code == 200:
                        num_of_residents_data = num_of_residents_response.json()['results']
                        if len(num_of_residents_data) > 0:
                            num_of_residents_data = num_of_residents_data[0]
                            if 'values' in num_of_residents_data:
                                for value in num_of_residents_data['values']:
                                    city_df.loc[len(city_df)] = [city_name, int(value['year']), float(value['val'])]
                    else:
                        print('\tNie udało się pobrać danych.')
                    break
    else:
        print('\tNie udało się pobrać danych.')

In [20]:
for index, row in cities_df.iterrows():
        print(f'Przetwarzanie miasta: {index+1}')
        try:
            get_data(row['city'], residents_number_df, num_residents_url)
        except Exception as e:
            print(f'\tBłąd: {e}')
        time.sleep(1)
        try:
            get_data(row['city'], residents_density_df, residents_per_km2_url)
        except Exception as e:
            print(f'\tBłąd: {e}')
        time.sleep(1)
        if (index+1)%20 == 0:
            time.sleep(60)

Przetwarzanie miasta: 1
Przetwarzanie miasta: 2
Przetwarzanie miasta: 3
Przetwarzanie miasta: 4
Przetwarzanie miasta: 5
Przetwarzanie miasta: 6
Przetwarzanie miasta: 7
Przetwarzanie miasta: 8
Przetwarzanie miasta: 9
Przetwarzanie miasta: 10
Przetwarzanie miasta: 11
Przetwarzanie miasta: 12
Przetwarzanie miasta: 13
Przetwarzanie miasta: 14
Przetwarzanie miasta: 15
Przetwarzanie miasta: 16
Przetwarzanie miasta: 17
Przetwarzanie miasta: 18
Przetwarzanie miasta: 19
Przetwarzanie miasta: 20
Przetwarzanie miasta: 21
Przetwarzanie miasta: 22
Przetwarzanie miasta: 23
Przetwarzanie miasta: 24
Przetwarzanie miasta: 25
Przetwarzanie miasta: 26
Przetwarzanie miasta: 27
Przetwarzanie miasta: 28
Przetwarzanie miasta: 29
Przetwarzanie miasta: 30
Przetwarzanie miasta: 31
Przetwarzanie miasta: 32
Przetwarzanie miasta: 33
Przetwarzanie miasta: 34
Przetwarzanie miasta: 35
Przetwarzanie miasta: 36
Przetwarzanie miasta: 37
Przetwarzanie miasta: 38
Przetwarzanie miasta: 39
Przetwarzanie miasta: 40
Przetwarzanie miasta: 41
Przetwarzanie miasta: 42
Przetwarzanie miasta: 43
Przetwarzanie miasta: 44
Przetwarzanie miasta: 45
Przetwarzanie miasta: 46
Przetwarzanie miasta: 47
Przetwarzanie miasta: 48
Przetwarzanie miasta: 49
Przetwarzanie miasta: 50
Przetwarzanie miasta: 51
Przetwarzanie miasta: 52
Przetwarzanie miasta: 53
Przetwarzanie miasta: 54
Przetwarzanie miasta: 55
Przetwarzanie miasta: 56
Przetwarzanie miasta: 57
Przetwarzanie miasta: 58
Przetwarzanie miasta: 59
Przetwarzanie miasta: 60
Przetwarzanie miasta: 61
Przetwarzanie miasta: 62
Przetwarzanie miasta: 63
Przetwarzanie miasta: 64
Przetwarzanie miasta: 65
Przetwarzanie miasta: 66
Przetwarzanie miasta: 67
Przetwarzanie miasta: 68
Przetwarzanie miasta: 69
Przetwarzanie miasta: 70
Przetwarzanie miasta: 71
Przetwarzanie miasta: 72
Przetwarzanie miasta: 73
Przetwarzanie miasta: 74
Przetwarzanie miasta: 75
Przetwarzanie miasta: 76
Przetwarzanie miasta: 77
Przetwarzanie miasta: 78
Przetwarzanie miasta: 79
Przetwarzanie miasta: 80
Przetwarzanie miasta: 81
Przetwarzanie miasta: 82
Przetwarzanie miasta: 83
Przetwarzanie miasta: 84
Przetwarzanie miasta: 85
Przetwarzanie miasta: 86

In [21]:
residents_density_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1703 entries, 0 to 1702
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   city                1703 non-null   object
 1   date                1703 non-null   int64
 2   residents_per_1km2  1703 non-null   float64
dtypes: float64(1), int64(1), object(1)
memory usage: 53.2+ KB

In [16]:
abc = residents_density_df.copy()
defg = residents_number_df.copy()